 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4603px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 592px;
  height: 541px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 572px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 188px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 89px;
  margin: 51px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 640px;
  height: 269px;
  margin: 81px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 46px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 545px;
  height: 418px;
  margin: 46px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-7 {
  width: 921px;
  height: 336px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 866px;
  height: 403px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-9 {
  width: 913px;
  height: 229px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-10 {
  width: 1116px;
  height: 131px;
  margin: 26px auto 0 0;
}

.u-section-1 .u-text-12 {
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4583px;
  }

  .u-section-1 .u-image-10 {
    width: 940px;
    height: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4367px;
  }

  .u-section-1 .u-image-7 {
    width: 720px;
    height: 263px;
  }

  .u-section-1 .u-image-8 {
    width: 720px;
    height: 335px;
  }

  .u-section-1 .u-image-9 {
    width: 720px;
    height: 181px;
  }

  .u-section-1 .u-image-10 {
    width: 720px;
    height: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4013px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 493px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 542px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 178px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 85px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 227px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 414px;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 197px;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 251px;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 136px;
  }

  .u-section-1 .u-image-10 {
    width: 540px;
    height: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3056px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 310px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 341px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 112px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 54px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 143px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 261px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 124px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 158px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 86px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 40px;
  }
}